<app-pokemon-view></app-pokemon-view>
<app-find-form></app-find-form>
<div class="main_container" pokemonView>
    <div *ngFor="let pokemon of pokemonArray;">

      <div *ngIf="pokemon['damage'] > 50; else elseBlock">
        <div bigDamage class="card">
          <img src="{{pokemon['image']}}" alt="{{pokemon['name']}}">
          <h2>{{pokemon['name']}}</h2>
          <p>Damage: {{pokemon['damage']}}</p>
          <button (click)="catchPokemon(this.pokemon, $event)">Catch</button>
          <a [routerLink]="['/edit']" [queryParams]="{id: pokemon['id']}"><button>Edit</button></a>
          <a [routerLink]="['/about']" [queryParams]="{id: pokemon['id']}">More information</a>
        </div>
      </div>

      <ng-template #elseBlock >
        <div class="card">
          <img src="{{pokemon['image']}}" alt="{{pokemon['name']}}">
          <h2>{{pokemon['name']}}</h2>
          <p>Damage: {{pokemon['damage']}}</p>
          <button (click)="catchPokemon(this.pokemon, $event)">Catch</button>
          <a [routerLink]="['/edit']" [queryParams]="{id: pokemon['id']}"><button>Edit</button></a>
          <a [routerLink]="['/about']" [queryParams]="{id: pokemon['id']}">More information</a>
        </div>
      </ng-template>

    </div>
</div>

